@import url("https://fonts.google.com/specimen/Nunito?preview.text=font%20sytlistic");

*{
    font-family: "playfair", sans-serif;
}

.container {
    width: 90%; /* Définit la largeur du conteneur à 90% de son parent */
    height: 130%;
    margin: auto; /* Centre le conteneur horizontalement */
    padding-top: 5px;
}

header{
    background-color: #e45b39; /* Définit la couleur de fond de l'en-tête */
    color: #fff; /* Définit la couleur du texte dans l'en-tête */
    width: 100%; /* Définit la largeur de l'en-tête à 100% de la fenêtre */
    top: 0; /* Positionne l'en-tête en haut de la fenêtre */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header h1 {
    text-align: center; /* Centre le texte du titre */
    justify-content: center;
    font-size: 20px;
    margin-bottom: 0.5rem; /* Ajoute un espacement en bas du titre */
}
header p{
    color: rgb(70, 69, 69);
    font-size: 25px;
    text-align: center;
}

nav ul {
    display: flex; /* Utilise Flexbox pour la mise en page */
    justify-content: center; /* Centre les éléments de la liste horizontalement */
    list-style: none; /* Supprime les puces de la liste */
    justify-content: end;
  
}

nav ul li {
	margin: 0 1rem; /* Ajoute un espacement horizontal entre les éléments de la liste */
}

nav ul li a {
    color:rgb(70, 69, 69); /* Définit la couleur du texte des liens */
    text-decoration: none; /* Supprime le soulignement des liens */
    font-size: large; /* Définit la taille de la police des liens */

}

.white{
    color: white;
}

hr{
    color: rgb(70, 69, 69);
    border:1px solid;
    inline-size: 30%;
}